body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%; 
}

.layout {
    width: 100%;
    height: 100vh; 
    display: grid;
    grid:
        "header" auto
        "main" 1fr
        "footer" auto
        / 1fr;
    gap: 8px;
}

.header {
    grid-area: header;
    background: linear-gradient(to bottom, #a35494 72%, rgba(163, 82, 124, 0) 100%);
    height: 30vh;
    position: relative; 
    text-align: center;
    width: 100%; 
}

.header-img-left, .header-img-right {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    height: 80%; 
}

.header-img-left {
    left: 20px; 
}

.header-img-right {
    right: 20px; 
}

.header-title {
    position: absolute;
    top: 20%; 
    left: 45%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 4rem; 
    z-index: 1; 
}
.main {
    grid-area: main;
    color: #000;
    width: 100%; 
}

.footer {
    grid-area: footer;
    background-color: #234345;
    padding: 20px;
    text-align: center;
    color: white;
    width: 100%; 
}

