.EstiloCard {
    max-width: 47vw;
    max-height: 33VH;
    background-color: #A35494;
    border-radius: 20px;
}

.HeaderCard {
    color: white;
    margin-left: 1.5vw;
}

.ContenidoCard {
    color: white;
    padding-left: 10px;
    margin-left: 1.5vw;
}

.Boton {
    background-color: #E7B756;
    color: #1E1E1E;
    margin-left: 1.5vw;
    margin-bottom: 2vh;
}